body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palegreen;
}

header {
    background-color: white;
}

h1 {
    margin-left: 100px;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td {
    font-size: large;
}

#form-container {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    vertical-align: middle;
    margin-bottom: 1%;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
}

.submit-btn {
    margin-top: 50px;
}

.container {
    width: 95vw; /* 95% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    display: block;
    opacity: 50%;
}